<%= form_for [@user, @standup], remote: true do |f| %>
	<div class="modal-body">
		<ul class="errors"></ul>
		Yesterday Items:
		<ul>
			<%= f.fields_for :yesterday_items do |f1| %>
				<li>
					<%= render "yesterday_item_fields", :f => f1 %>
				</li>
			<% end %>
		</ul>
	
		<div class="links">
			<%= link_to_add_association 'add item', f, :yesterday_items %>
		</div>
	
		Today Items:
		<ul>
			<%= f.fields_for :today_items do |f2| %>
			<li>
				<%= render "today_item_fields", :f => f2 %>
			</li>
			<% end %>
		</ul>
	
		<div class="links">
			<%= link_to_add_association 'add item', f, :today_items %>
		</div>
	</div>
	
	<div class="modal-footer">
		<%= f.submit %>
		<%= link_to 'Back', user_standups_path(current_user), data: {dismiss: "modal"} %>
	</div>
<% end %>

