<h1><%= current_user.username %>  Standups: </h1>

<% @standups.each do |standup| %>

	  <h2><%= standup.created_at.to_date %></h2>

	  <h3>Yesterday items:</h3>
	  <% standup.yesterday_items.each do |yesterday_item| %> 
		  <p>- <%= yesterday_item.item %></p>
	  <% end %>
	
	  <h3>Today items:</h3>
	  <% standup.today_items.each do |today_item| %>
		  <p>- <%= today_item.item %></p>
	  <% end %>
	  
	<%= link_to 'Edit', edit_user_standup_path(current_user, standup) %>
	<%= link_to 'Delete', user_standup_path(current_user, standup), method: :delete, data: { confirm: "Are you sure?"} %>

<% end %>
<br>

<%= link_to 'New Standup', new_user_standup_path(current_user) %><br>
Signed in as <%= current_user.username %>. Not you?
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %><br>