<h1><%= current_user.email %>  Standups: </h1>

<% @standups.each do |standup| %>

	  <h2><%= standup.created_at.to_date %></h2>

	  <h3>Yesterday items:</h3>
	  <% standup.yesterday_items.each do |yesterday_item| %> 
		  <p>- <%= yesterday_item.item %></p>
	  <% end %>
	
	  <h3>Today items:</h3>
	  <% standup.today_items.each do |today_item| %>
		  <p>- <%= today_item.item %></p>
	  <% end %>
	  
	<%= button_to 'Edit', edit_standup_path(standup), method: :get %>
	<%= button_to 'Delete', standup_path(standup), method: :delete, :confirm => "Are you sure?" %>

<% end %>
<br>

<%= button_to 'New Standup', new_user_standup_path(current_user), method: :get %>
<%= button_to 'Home', welcome_index_path, :method => :get %>