<h1>New Standup</h1>

<%= form_for @standup do |f| %>
	Yesterday Items:
	<ul>
		<%= f.fields_for :yesterday_items do |f1| %>
			<li>
				<%= f1.label :item %>
				<%= f1.text_field :item %>
				<%= link_to_remove_association 'Remove item', f %>
			</li>
		<% end %>
	</ul>
	<div class="links">
		<%= link_to_add_association 'Add Item', f, :yesterday_items %>
	</div>
	
	Today Items:
	<ul>
		<%= f.fields_for :today_items do |f2| %>
		<li>
			<%= f2.label :item %>
			<%= f2.text_field :item %>
		</li>
		<% end %>
	</ul>
	<%= f.submit %>
<% end %>

<%= link_to 'Back', standups_path %>