<h1>New Standup</h1>

<%= form_for @standup do |f| %>
	Yesterday Items:
	<ul>
		<%= f.fields_for :yesterday_item do |f1| %>
			<li>
				<%= f1.label :item %>
				<%= f1.text_area :item %>
			</li>
		<% end %>
	</ul>
	
	Today Items:
	<ul>
		<%= f.fields_for :today_item do |f2| %>
		<li>
			<%= f2.label :item %>
			<%= f2.text_area :item %>
		</li>
		<% end %>
	</ul>
<% end %>

<%= link_to 'Back', standups_path %>