<h1>New Standup</h1>

<%= form_for @standup do |f| %>
	Yesterday Items:
	<ul>
		<%= f.fields_for :yesterday_items do |f1| %>
			<li>
				<%= f1.label :item %>
				<%= f1.text_area :item %>
			</li>
		<% end %>
		<%= link_to_add_association 'add yesterday item', f, :yesterday_items,  
			:wrap_object => Proc.new {|f1| f.build_yesterday_item; f } %>
	</ul>
	
	Today Items:
	<ul>
		<%= f.fields_for :today_items do |f2| %>
		<li>
			<%= f2.label :item %>
			<%= f2.text_area :item %>
		</li>
		<% end %>
	</ul>
	<%= f.submit %>
<% end %>

<%= link_to 'Back', standups_path %>