<%= form_for @standup, :html => { :class => "form-horizontal standup" } do |f| %>

    <% if @standup.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@standup.errors.count, "error") %> prohibited this standup from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @standup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@standup[:user_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            standups_path, :class => 'btn btn-default' %>

<% end %>
