<h1>Welcome to Standup App</h1>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= button_to "Sign out", destroy_user_session_path, :method => :delete %><br>
	<%= button_to 'My Standups', user_standups_path(@user), :method => :get %>
  <% else %>
    <%= button_to "Sign up", new_user_registration_path, :method => :get %> or <%= button_to "sign in", new_user_session_path, :method => :get %>
  <% end %>
</div>
