<h1>Welcome to Standup App</h1>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= button_to "Sign out", destroy_user_session_path, :method => :delete %><br>
	<%= link_to 'My Standups', controller: 'standups' %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>
