<!DOCTYPE html>
<html>
<head>
  <title>StandupApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
      </div>
    </div>
  </div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
